# Build results
Debug/
Release/
x64/
build/
bin/
obj/
.vs/

# Visual Studio user-specific files
*.user
*.suo
*.ncb
*.opensdf
*.sdf
*.VC.db
*.vcxproj
*.vcxproj.filters
*.sln
# Qt specific files (if any)
*.pro.user*
*.qmake.stash

# Others
*.log
*.tmp

